.dropdown-placeholder {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%);
  background: white;
  width: 80%;
  height: 20rem;
  border-radius: 6rem;
  box-shadow: 2px 2px 11px 0px #888888;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter {
  width: 80%;
  display: flex;
  flex-direction: column;
}
select {
  appearance: none;
}
.options {
  background: #f43945;
  color: white;
  font-family: 'Josefin Sans';
  font-size: 1rem;
  padding: 1rem;
  margin: .5px;
  border-radius: 0;
  border: none;
  outline: none;
}
@media (min-width: 768px) {
  .dropdown-placeholder {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8rem;
    border-radius: 3rem;
    box-shadow: none;
  }
  .filter {
    flex-direction: row;
  }
  .options {
    flex: 1;
  }
  select {
    background:none\9;
    padding: 5px\9;
}
}
