.wrap-text {
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
}
.home-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
}
@media (min-width: 768px) {
  .wrap-text {
    width: 50%;
    top: 15%;
  }
}