.recipe-wrap-image {
  background: #f43945;
  width: 100%;
  height: 50vh;
}
.recipe-image {
  width: 60%;
  margin: auto;
}
.wrap-country-time {
  width: 80%;
  margin: 2rem auto 3rem;
  display: flex;
  justify-content: space-between;
}
.wraw-details-title {
  width: 80%;
  margin: auto;
}
.details-title {
  font-size: 3rem;
  margin: 0 0 3rem;
  padding: 0 0 2rem;
  border-bottom: 1px solid #f43945;
}
.details-subtitle {
  margin: 4rem 0;
  font-size: 2rem;
}
.details-content-text, .details-content-recipe, .details-content-instructions {
  margin: 3rem 0 0 0 ;
}
.details-content-instructions {
  width: 100%;
  margin: 3rem 0 6rem 0;
}
li {
  list-style-type: none;
  margin: 1rem 0;
}

.details-content-recipe li::before {
  content: "•";
  color: red;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .wrap-country-time {
    width: 60%;
  }
  .wraw-details-title {
    width: 60%;
  }
  .details-content-instructions {
    width: 70%;
  }
}
